.footer {
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    /* background-color: #fafafa */
}

@media screen and (min-width: 601px) {
    .footer {
        position: relative;
        border-top: 1px solid;
        padding-top: 25px;
        text-align: start;
        display: flex;
        justify-content: space-between;
    }
    .footer-wrap {
        justify-content: flex-start;
    }
    .footer-item>address>p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .siteMap {
        justify-content: flex-end;
    }
    .footer-item {
        padding-left: 100px;
    }
    .footer-wrap>img {
        /* float: left; */
    }
}

@media screen and (max-width:600px) {
    .footer {
        border-top: 1px solid;
        padding-bottom: 30px;
    }
    .footer-wrap {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .footer-item>p {
        margin-bottom: 0px;
    }
    .siteMap {
        text-align: center
    }
    .footer-wrap>img {
        margin-right: 10px;
    }
}