.menu {
    position: relative;
    float: left;
    margin: 50px;
}

.menuBtn {
    width: 60px;
    height: 60px;
    position: fixed;
}

.router-menu {
    position: fixed;
    margin-left: 100px;
}

.router-menu>ul>a {
    font-size: 30px;
    text-decoration: none;
    color: #181818
}