.main-container {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.main-column {
    height: 1600px;
    width: 320px
}

.main-item {
    background-color: pink;
    height: 500px;
    padding: 5px 10px;
    margin-top: 20px
}