@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
html,
body,
#root,
.App {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
}

.App {
    text-align: center;
    font-family: 'Hanna', fantasy;
    background-color: #fafafa;
}