@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
*,
*::before::,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
    font-family: 'Hanna', fantasy;
}